.myFooter {
    background: rgb(17, 18, 30) !important;
    border-top: 2px solid white;
    color: white;
    padding: 4em;
    width: 100vw;
    overflow: hidden;
    .firstCol {
        font-size: 1.2em;
    }
    .secondCol {
        opacity: 0.8;
    }
    .thirdCol {
        display: flex;
        justify-content: flex-end;
    }
}