@import '../../../library';

.HomePage {

    section {
        margin-bottom: 8em;
    }

    .firstSection {
        height: 600px;
        overflow: hidden;
        position: relative;

        .brandContainer {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
            margin-top: 0.5em;
            margin-right: 0.5em;
        }


        .sectionContent {
            height: 100%;
            display: flex;
            position: relative;
            overflow: hidden;

            .bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: -1;
                height: 100%;
                object-fit: cover;
            }


            .textContainer {
                width: 40%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding: 1.5em;
                // background: rgba(0,0,0,0.5);

                .slogan {
                    color: black;

                    p {
                        font-size: 20px;
                        opacity: 0.8;
                        text-transform: uppercase;
                    }

                    h1 {
                        font-size: 40px;
                        text-transform: uppercase;
                        font-family: Cambria, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
                    }

                }
            }
        }



    }

    .listCategories {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        .categoryItem {
            width: 300px;
            color:black;
            text-decoration: none;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            @keyframes slideInFromLeft {
                0% {
                    transform: translateX(-100%);
                }

                100% {
                    transform: translateX(0);
                }
            }

            .image {
                width: 300px;
                overflow: hidden;
                object-fit: cover;
                margin-bottom: 1em;
            }
        }
    }

    .slogan1 {
        font-size: 2em;
        padding: 1em 0.5em;

        .txt1 {}

        .txt2 {
            font-size: 0.8em;

            .txt3 {
                font-size: 2em;
            }
        }
    }

    .Brands {
        gap: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
        //center all items
        justify-content: center;

        //.brand first child
        .brand:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
        .brand:nth-child(2) {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
        }
        .brand:nth-child(3) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        .brand:nth-child(4) {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }

        .brand {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 5px;
    
            .mainImage {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //center
                object-position: center;
    
    
            }
    
            .brandName {
                position: absolute;
                bottom: 1em;
                left: 1em;
                background: white;
                color: black;
                text-align: center;
                font-size: 1em;
                height: 2em;
                width: 5em;
                border-radius: 1em;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                font-weight: bold;
                text-transform: uppercase;
    
            }
    
            &:hover {
                .brandName {
                    transition: all 0.5s ease-in-out;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    left: 0;
                    border-radius: 0;
                    font-size: 2em;
                }
            }
        }
    }
}

