.MakeOrder {
    padding :3em;
    .form {
        min-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .submitBtn {
            width: 100%;
        }
    }
}